name: docs
permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/docs.yml
      - '**.py'
      - '**.ts'
      - '**.tsx'
      - '**.js'
      - '**.jsx'
      - '**.html'
      - '**.md'
      - pyproject.toml
      - uv.lock
      - mkdocs.yml
      - '**.png'
      - '**.svg'
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/docs.yml
      - '**.py'
      - '**.ts'
      - '**.tsx'
      - '**.js'
      - '**.jsx'
      - '**.html'
      - '**.md'
      - pyproject.toml
      - uv.lock
      - mkdocs.yml
      - '**.png'
      - '**.svg'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.5.21"
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm ci
          cd ..

      - name: Install mkdocs dependencies from backend pyproject.toml
        run: |
          cd backend
          uv sync --dev
          cd ..

      - name: Build docs using build-docs.sh
        run: |
          chmod +x build-docs.sh
          source backend/.venv/bin/activate
          ./build-docs.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: docs-site
          path: site/
          retention-days: 1

  deploy:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: docs-site
          path: site

      - name: Ensure .nojekyll exists
        run: touch site/.nojekyll

      - name: Deploy to Github pages
        uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          branch: gh-pages
          folder: site
